

@font-face {
  font-family: "8bit";
  src: url("./fonts/8bitoperator.eot"); /* IE9 Compat Modes */
  src: url("./fonts/8bitoperator.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/8bitoperator.otf") format("opentype"), /* Open Type Font */
    url("./fonts/8bitoperator.svg") format("svg"), /* Legacy iOS */
    url("./fonts/8bitoperator.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/8bitoperator.woff") format("woff"), /* Modern Browsers */
    url("./fonts/8bitoperator.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "8bit2";
  src: url("./fonts/8417.eot"); /* IE9 Compat Modes */
  src: url("./fonts/8417.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/8417.otf") format("opentype"), /* Open Type Font */
    url("./fonts/8417.svg") format("svg"), /* Legacy iOS */
    url("./fonts/8417.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/8417.woff") format("woff"), /* Modern Browsers */
    url("./fonts/8417.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

p{
font-family: "8bit2";
}

.wrapper {
	
	position: relative;
	width:900px;
	height:500px;
	margin:auto;
}

#gameMessage {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:400px;
	height: 160px;
	font-family: "8bit2";
	font-size:40px;
	background: black;
	color:white;
	border-radius: 20px;	
	opacity: 0;	
	transition: opacity 0.2s;
}

#gameMessage div {	
	text-align: center;
	line-height: 80px;	
}

#restart:hover {
	color:gray;
	cursor: pointer;
}
