

@font-face {
  font-family: "8bit";
  src: url("./fonts/8bitoperator.eot"); /* IE9 Compat Modes */
  src: url("./fonts/8bitoperator.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/8bitoperator.otf") format("opentype"), /* Open Type Font */
    url("./fonts/8bitoperator.svg") format("svg"), /* Legacy iOS */
    url("./fonts/8bitoperator.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/8bitoperator.woff") format("woff"), /* Modern Browsers */
    url("./fonts/8bitoperator.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "8bit2";
  src: url("./fonts/8417.eot"); /* IE9 Compat Modes */
  src: url("./fonts/8417.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/8417.otf") format("opentype"), /* Open Type Font */
    url("./fonts/8417.svg") format("svg"), /* Legacy iOS */
    url("./fonts/8417.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/8417.woff") format("woff"), /* Modern Browsers */
    url("./fonts/8417.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'riffic';
    src: url('fonts/riffic-bold-webfont.woff2') format('woff2'),
         url('fonts/riffic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p{
font-family: "8bit2";
}

.wrapper {
	
	position: relative;
	width:900px;
	height:500px;
	margin:auto;
}

.fullTransitive {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:400px;
	height: 160px;
	font-family: "8bit2";
	font-size:40px;
	background: black;
	color:white;
	border-radius: 20px;	
	opacity: 0;	
	transition: opacity 0.2s;
	visibility: hidden;

}

.fullTransitive div {	
	text-align: center;
	line-height: 80px;	
}

.game-over {
	color:red;
}

#victory {
	color: green;
	line-height: 55px !important; 
}

#restart:hover,#continue:hover {
	color:gray;
	cursor: pointer;
}

.ava-wrapper {
	position: absolute;
	top:10px;
	left:10px;
}

.health-wrapper {
	vertical-align: top;
	display: inline-block;	
}

.health-wrapper div {
	margin: 10px 0;
}

#avatar {
	border-radius: 100%;
	border:2px solid black;
	height: 82px;
	width: 82px;
}

#healthBar {
	height: 21px;
}

#score {
	padding-left: 5px;
	vertical-align: top;
	font-size: 23px;
	font-family: "8bit";
	text-shadow: 0 0 2px #464e67;
}

.weapon-wrapper {
	position: absolute;
	top:10px;
	left:705px;
}

.weapon-wrapper div {
	display: inline-block;
	margin: 0 10px;
	height: 50px;
}

.weapon-wrapper span {
	float: right;
	padding-left: 10px;	
	line-height: 40px;
	font-size: 23px;
	font-family: "8bit";
	color:black;
	text-shadow: 0 0 2px #464e67;	
}

.weapon-wrapper img {
	border: 2px solid #464e67;
	border-radius: 30%;
	background: white;

}

.bearHelthBlock {
	position: absolute;
	left:50px;
	top:100px;
}

.bearHealthWrapper {
	width: 200px;
	height: 10px;
	border: 1px solid black;
}

#bearHealth {
	width:200px;
	height: 10px;
	background: red;
}








