* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: '10468';
  src: url('../fonts/10468.eot');
  src: url('../fonts/10468.woff2') format('woff2'),
       url('../fonts/10468.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body {
	background: #f7f2f2;
}

.wrapper {			
	width: 900px;
	margin: 0 auto;	
	margin-top:50px;
	margin-bottom:50px;
	box-shadow: 0 0 25px black;

}

header {
	position: relative;
	background: linear-gradient(to top, #129fe5, #6ec8f5);
	box-shadow: 0 0 1px black;
	height: 220px;
	width: 100%;
}

header img:first-child {
	margin-left: 50px;
	float: left;
}

header img:last-child {	
	margin-right: 50px;
	float: right;
}

header div {
	font-family: "10468";
	color:#f5dce2;
	font-size:20px;
	text-shadow: 0 0 1px black;
	position: absolute;
	top:55%;
	left:50%;
	transform: translate(-50%,-50%);
}
header span {
	color:#a6233f;
}

header h1 {
	text-align: center;
}

.instructions {
	text-align: center;
	line-height: 25px;
	padding: 15px;
	background: #f5fbff;
	color:black;
	font-family: "10468";
	font-size: 15px;
}


.control-of-the-game h2 {
	padding: 10px 0;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;	
}

th {
	padding-bottom: 20px;
}

.control-of-the-game table td {
	padding: 5px;
	border: 1px solid gray;
}


.key {
	margin-right: 75px;
	display: inline-block;
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	box-shadow: 0 0 15px black;

}

.jump-key {
	width:200px;
}

.game-rules span {
	color:#a6233f;
}

.game-rules img {	
	border: 1px solid black;
	box-shadow: 0 0 2px black;
}

.game-rules td {
	padding-bottom: 15px;
}


.btn {
	color: white;
	text-decoration: none;	
	display: inline-block;	
	font-family: "10468";
	font-size:25px;			
	box-shadow: 3px 5px 10px black;

}

.play-game-btn {
	background: deepskyblue;
	width:150px;
	height: 150px;
	line-height: 150px;
	border-radius: 50%;
	margin: 20px 0;
}

.play-game-btn:hover {
	box-shadow:0 0 10px deepskyblue,3px 5px 10px black;
	text-shadow: 0 0 5px white;
	
}

.play-game-btn:active {
	box-shadow: 0px 0px 3px black;
	font-size:24.8px;
}

.presentation-btn {
	border-radius: 5px;
	width:350px;
	height: 50px;
	line-height: 50px;
	background: #a6233f;	
}

.presentation-btn:hover {
	box-shadow:0 0 10px #a6233f,3px 5px 10px black;
	text-shadow: 0 0 5px white;
	
}

.presentation-btn:active {
	box-shadow: 0px 0px 3px black;
	font-size:24.8px;
}




footer {
	height: 50px;
	background: black;
	text-align: center;
	line-height: 50px;
	color:#f5dce2;;
	font-family: "10468";
	font-size: 15px;
}

footer span {
	color:#a6233f;
}
